[submodule "library/rp-pico"]
	path = library/rp-pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
[submodule "library/marbastlib"]
	path = library/marbastlib
	url = https://github.com/ebastler/marbastlib
	branch = untested
[submodule "library/keyswitches"]
	path = library/keyswitches
	url = https://github.com/perigoso/keyswitch-kicad-library
[submodule "library/ssd1306"]
	path = library/ssd1306
	url = https://github.com/pforrmi/KiCad-SSD1306-128x64
